*{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .b1{
    border: 2px solid red;
  }

  .title-text {
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .sub-text {
    font-size: 1.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .sub-b-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  @media (max-width: 550px) {
  
  }

  
  
